<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.backend.modules.mes.mapper.OrderMasterMapper">

    <resultMap id="BaseResultMap" type="com.lw.backend.modules.mes.entity.OrderMaster">
        <id column="order_no" property="orderNo"/>
        <result column="contract_no" property="contractNo"/>
        <result column="customer_id" property="customerId"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="expected_date" property="expectedDate"/>
        <result column="order_status" property="orderStatus"/>
        <result column="remark" property="remark"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_no, contract_no, customer_id, total_amount, expected_date, order_status, remark, created_at, updated_at
    </sql>

</mapper>

