<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.backend.modules.mes.mapper.OrderDetailMapper">

    <resultMap id="BaseResultMap" type="com.lw.backend.modules.mes.entity.OrderDetail">
        <id column="detail_id" property="detailId"/>
        <result column="order_id" property="orderId"/>
        <result column="product_model" property="productModel"/>
        <result column="air_permeability" property="airPermeability"/>
        <result column="length_req" property="lengthReq"/>
        <result column="width_req" property="widthReq"/>
        <result column="craft_req" property="craftReq"/>
        <result column="detail_status" property="detailStatus"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        detail_id, order_id, product_model, air_permeability, length_req, width_req, craft_req, detail_status, created_at, updated_at
    </sql>

</mapper>
